NODE_ENV=development
PORT=3001

MODULE_NAME=chat

MAIN_DB_HOST=database
MAIN_DB_PORT=3306
MAIN_DB_DATABASE=chat
MAIN_DB_USERNAME=postgres
MAIN_DB_ROLE=postgres
MAIN_DB_PASSWORD=postgres

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest


REDIS_HOST=redis-db
REDIS_PORT=6390
REDIS_PASSWORD=pass